<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Greenovera India Pvt. Ltd.</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form method="POST" action="log_check" class="sign-in-form">
            {% csrf_token %}
            <h2 class="title">Sign in</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" name="name" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" name="pwd"/>
            </div>
            {% for message in messages%}
                <b class="text-light">{{message}}</b>
                {% endfor %}
            <input type="submit" name="Login" value="Login" class="btn solid" />
          </form>

          <form class="sign-up-form" method="POST" action="reg">
            {% csrf_token %}
            <h2 class="title">Sign up</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" name="name"/>
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Mail ID" name="email"/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" name="pwd" />
            </div>
             <div class="input-field">
              <i class="fas fa-home"></i>
              <input type="text" placeholder="Address" name="address" />
            </div>
             <div class="input-field">
              <i class="fas fa-flag"></i>
              <input type="text" placeholder="Country" name="Country" />
            </div>
             <div class="input-field">
              <i class="fas fa-city"></i>
              <input type="text" placeholder="State" name="state" />
            </div>
             <div class="input-field">
              <i class="fas fa-map-marker"></i>
              <input type="text" placeholder="District" name="district" />
            </div>
              <div class="input-field">
              <i class="fas fa-map-pin"></i>
              <input type="text" placeholder="Pin" name="pin" />
            </div>
            <input type="submit" class="btn" name="Sign up" value="Sign up" />
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h2>Want to be a one among us in <b>GREENOVERA</b>?</h2><br>
            <p>
              Register fast and be one of US...
            </p>
            <button class="btn transparent" name="Sign up" id="sign-up-btn">
              Sign up
            </button>
          </div>
          <img src="{% static 'login.svg' %}" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>One among us in <b>GREENOVERA</b>?</h3><br>
            <p>
              What are you waiting for? Sign in...
            </p>
            <button class="btn transparent" name="Login" id="sign-in-btn">
              Sign in
            </button>
          </div>
          <img src="{% static 'register.svg' %}" class="image" alt="" />
        </div>
      </div>
    </div>

    <script src="{% static 'dynamic.js' %}"></script>
  </body>
</html>