{% extends 'base.html'%}
{%block content%}
<style>
form {
  margin:0 auto;
  width:300px
}
input {
  margin-bottom:3px;
  padding:10px;
  width: 100%;
  border:1px solid #CCC
}
button {
  padding:10px
}
label {
  cursor:pointer
}
#form-switch {
  display:none
}
#register-form {
  display:none
}
#form-switch:checked~#register-form {
  display:block
}
#form-switch:checked~#login-form {
  display:none
}
</style>
<input type='checkbox' id='form-switch'>
<form id='login-form' action="log_ch1" method='POST'>
	{% csrf_token %}
  	<br><br>Email<input type ="text" name="email">
	<br><br>Password<input type ="password" name="password">
	<button type="submit" name="login" value="login">Login</button>
  	<label for='form-switch'><span>Register</span></label>
</form>


<form  action ="register_2" method="POST">
  {% csrf_token %}
  <input type="text" placeholder="Username" required>
  <input type="email" placeholder="Email" required>
  <input type="password" placeholder="Password" required>
  <input type="password" placeholder="Re Password" required>
  
  <button type='submit' name="register" value="register">REGISTER</button>
  <label for='form-switch'>Already Member ? Sign In Now..</label>
</form>
{% endblock content %}