{% extends 'base.html' %}

{% block content%}

<h1>Register2</h1>
<input type='checkbox' id='form-switch'>

<form  method="POST">
  {% csrf_token %}
          {{form}}
   <button type='submit' name="register" value="register">REGISTER</button>
  <label for='form-switch'><span>Login</span></label>
</form>

<h1>Login</h1>
<form action ="log_ch1" method='POST'>
{%csrf_token %}
       <br><br>Email<input type ="text" name="email">
	<br><br>Password<input type ="password" name="password">
	<button type="submit" name="login" value="login">Login</button>
  	
{% endblock content %}